<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>게시글 조회/수정</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">게시글 수정</h4>
              <form class="forms-sample" [formGroup]="form" (submit)="boardModify()">
                <div class="form-group">
                  <label for="exampleInputName1">제목</label>
                  <input type="text" class="form-control" id="exampleInputName1" maxlength="100"
                         placeholder="제목을 입력하세요." formControlName="title" [readOnly]="!boardDetail?.modify_enabled">
                </div>
                <div class="form-group">
                  <label for="exampleTextarea1">내용</label>
                  <textarea class="form-control" id="exampleTextarea1" rows="4" maxlength="100"
                            placeholder="내용을 입력하세요." formControlName="content" [readOnly]="!boardDetail?.modify_enabled"></textarea>
                  <div class="contentCounter" id="counter">{{ f.content.value.length }}/100</div>
                </div>
                <button type="button" class="btn btn-primary mr-2" *ngIf="boardDetail?.delete_enabled"
                        (click)="boardDelete(this.idx)">삭제</button>
                <button type="submit" class="btn btn-primary mr-2" *ngIf="boardDetail?.modify_enabled">수정</button>
                <button class="btn btn-light" [routerLink]="['/board']">목록</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
